<nav
  class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light mb-5"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Friendular</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/post">Posts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
