<div class="container bg-light p-5 text-center">
  <h1>Welcome to Friendular!</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus justo
    non mattis maximus. Etiam dictum laoreet eleifend. Nulla nulla dui, euismod
    vitae aliquet non, luctus sit amet dui.
  </p>
  <hr class="my-3" />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus justo
    non mattis maximus. Etiam dictum laoreet eleifend. Nulla nulla dui, euismod
    vitae aliquet non, luctus sit amet dui.
  </p>
</div>
