<h2>List of Posts</h2>

<div>
  <label for="new-post">Post name: </label>
  <input id="new-post" #postName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="add(postName.value); postName.value = ''"
  >
    Add post
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let post of posts">
    <!-- <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a> -->
    <span>{{ post.id }}</span>
    <span>{{ post.name }}</span>
    <p>{{ post.description }}</p>
  </li>
</ul>
